@import '../common/style/common.less';
@card-prefix-cls: ~"@{prefix}-card";
.@{card-prefix-cls}{
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: auto;
  border: 1px solid #E0E0E0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}
